@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    color: #282C35;
}

.container {}

.main {
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "c c i i"
        "c c i i"
        "b . i i"
        "x x i i"
    ;
}

.title {
    grid-area: c;
}

.button {
    margin-top: 20px;
    grid-area: b;
}

.homeimage {
    grid-area: i;
}

.homeimg {
    width: 75%;
    border-radius: 50%;
}

.cta {
    background-color: #184D47;
    margin-left: 20px;
    padding: 9px 25px;
    border-radius: 50px;
    border: none;
    color: white;
}

.cta:hover {
    background-color: #143e3a;
}

.big {
    font-size: 60px;
    padding: 0px;
    margin: 0px;
    color: #282C35;
}

.normal {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    color: #282C35;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
}

.logo {
    margin-right: auto;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a:hover {
    color: #0088a9;
}

a {
    color: #282C35;
    text-decoration: none;
}

.cta {
    background-color: #184D47;
    border: none;
    color: white;
    border-radius: 50px;
}

.info {
    margin-top: 40px;
    grid-area: x;
}

.icon {
    width: 35px;
    margin-right: 10px;
}

div div div {
    margin-top: 10px;
    display: inline-block;
}

p {
    padding: 0;
    margin: 0;
}